.habilidad-Titulos{
    text-align: center;
}

.editButton{
    display: inline-block;

}

.deleteButton{
    display: inline-block;
}

.col-md-4{
    margin: 40px;
}

.nombre{
    align-items: center;
}

.buttonNew{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}
h2{
    margin: 20px;
}

.skill-container{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}