.buttonNew{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

.buttons{
    position: relative;
    right: 0;
    top: 0;
}

.editButton{
    display: inline-block;


}

.deleteButton{
    display: inline-block;
}
h2{
    margin: 20px;
}