/**/
.mat-card{
    margin: 20px;
    padding: auto;  
}

.card{
    margin: 20px;
    padding: auto;
    border-radius: 50%;  
}

.card-titleP{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    border: 10px;

}



.card-photo{
    position:relative;
    left: 1em;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
}





