/**/

.mat-card{
    margin: 20px;
    padding: auto; 

}

.card{
    margin: 20px;
    padding: auto;
    border-radius: 50%;
}

.card-titleP{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:lightcoral;
    border: 10px;

}


.card mat-card{
    background-color: #520B03;
}



